@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as fn;

// ===================================================
// AXIS — FOOTER (Section)
// ===================================================

footer {
  @include mix.flex($justify: center);
  z-index: fn.z(content);
  position: sticky;
  bottom: 1.2rem;
  margin-bottom: 1.2rem;
}