@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as fn;

// ===================================================
// AXIS — TYPOGRAPHY BASE
// ===================================================

// ---------------------------------------------------
// Semantic Tokens
// ---------------------------------------------------

// Base
$font-family-base: token.$font-fml;      // Inter
$font-size-base:   token.$font-base;     // 15px - 16px       
$font-weight-base: token.$weight-400;    // 400 Regular
$line-height-base: token.$lh-body;       // 1.7
$letter-spc-base:  token.$ls-body;       // 0
$color-base: token.$color-text-primary;  // #D9D9D9;

// Variant - Label
$font-size-label:   token.$font-label;   // 10px - 14px
$font-weight-label: token.$weight-500;   // 500 Medium

// Variant - Description
$font-size-desc:    token.$font-13;      // ~12.8px
$letter-spc-desc:   token.$ls-display;   // -.04em
$color-desc:        token.$color-accent; // #7A1F1F
$color-desc-year:   token.$color-text-secondary; // #A2A2A2

// Variant - Links
$font-family-link: token.$font-alt;      // Anton
$font-size-link:   token.$font-link;     // 32px - 40px

// Variant - Beco
$font-family-beco: token.$font-alt;             // Anton
$letter-spc-beco:  token.$ls-beco;              // 0.08em
$font-color-beco:  token.$color-text-secondary; // #A2A2A2

// Display (H1 / H2)
$font-family-display:    token.$font-alt;        // Anton
$line-height-display:    token.$lh-display;      // .85
$letter-spacing-display: token.$ls-display;      // -.04em

$font-size-display:     token.$font-display;     // 90px - 144px
$font-size-display-alt: token.$font-display-alt; // 58.24px - 100.8px

// Headings
$line-height-heading: token.$lh-heading;      // 1.1
$letter-spc-heading:  token.$ls-heading;      // -.02em
$color-heading: token.$color-text-secondary;  // #A2A2A2
$color-heading-accent: token.$color-accent;   // #7A1F1F

$font-size-h2:  token.$font-h2;               // 12px - 16px

$font-size-h3:      token.$font-h3;           // 15px - 20px
$letter-spacing-h3: token.$ls-display;        // -.04em
$font-color-h3: token.$color-text-primary;    // #D9D9D9;

// ---------------------------------------------------
// Default Typography
// ---------------------------------------------------
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  font-size:   $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spc-base;
  color: $color-base;
  text-transform: uppercase;
}

// ---------------------------------------------------
// Variants
// ---------------------------------------------------
p, time {
  &.label { font-size: $font-size-label; font-weight: $font-weight-label; }

  &.desc {
    font-size: $font-size-desc;
    letter-spacing: $letter-spc-desc;
    color: $color-desc;
    
    &.year { color: $color-desc-year; }
  }

  &.decoration {
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 2rem;
      height: 0.09rem;
      border-radius: 2px;
      background-color: token.$color-accent;
      top: clamp(1.2rem, 0.682vw + 1.064rem, 1.5rem);
    }
  }
}

a { 
  &.text-link {
    font-family: $font-family-link;
    font-size:   $font-size-link;
  }
}

.beco { font-family: $font-family-beco; letter-spacing: $letter-spc-beco; color: $font-color-beco; }

// ---------------------------------------------------
// Display (H1 e H4)
// ---------------------------------------------------
h1, .display-alt {
  font-family:    $font-family-display;
  font-weight:    inherit;
  line-height:    $line-height-display;
  letter-spacing: $letter-spacing-display;
  text-transform: uppercase;
}

h1 { font-size: $font-size-display; }
.display-alt { font-size: $font-size-display-alt; z-index: fn.z(content); &::before { display: none; } }

// ---------------------------------------------------
// Headings
// ---------------------------------------------------
h2, h3, h5 {
  line-height:    $line-height-heading;
  letter-spacing: $letter-spc-heading;
  color:          $color-heading;

  .accent { color: $color-heading-accent; }
}

h2 {
  position: relative;
  font-size: $font-size-h2;
  font-weight: inherit;
  
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 0.09rem;
    border-radius: 2px;
    background-color: token.$color-accent;
    top: 4em;
    @include mix.respond(xs) { top: 2.8em; }
  }
}

h3 {
  font-size: $font-size-h3;
  font-weight: inherit;
  letter-spacing: $letter-spacing-h3;
  color: $font-color-h3;
}
