@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mix;

// ===================================================
// AXIS — TYPOGRAPHY BASE
// ===================================================

// ---------------------------------------------------
// Semantic Tokens
// ---------------------------------------------------
// Base
$font-family-base: "Inter", Ubuntu, system-ui, -apple-system, sans-serif;
$font-size-base:   token.$font-16;           // A confirmar
$font-weight-base: token.$weight-400;        // A confirmar
$line-height-base: token.$lh-body;         // 1.7
$letter-spc-base:  token.$ls-body;   // 0
$color-base: token.$color-text-primary; // #D9D9D9;

// Variant - Label
$font-size-label: token.$font-label; // A confirmar
$font-weight-label: token.$weight-500; // 500 Medium

// Display (H1)
$font-family-display: "Anton", Ubuntu, system-ui, -apple-system, sans-serif;
$font-size-display:   token.$font-display;         // A confirmar
$font-weight-display: token.$weight-400;    // Regular
$line-height-display: token.$lh-display;    // .85
$letter-spacing-display: token.$ls-display; // -.04em

// Headings
$font-weight-heading: token.$weight-500;    // A confirmar - 500 Medium
$line-height-heading: token.$lh-heading;    // 1.1
$letter-spc-heading:  token.$ls-heading;    // -.02em
$color-heading: token.$color-text-secondary; // #A2A2A2
$color-heading-accent: token.$color-accent; // #7A1F1F
$font-size-h2: token.$font-h2;              // A confirmar


// ---------------------------------------------------
// Default Typography
// ---------------------------------------------------
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  // font-size:   $font-size-base; // A Confirmar
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spc-base;
  color: $color-base;
  text-transform: uppercase;
}

// ---------------------------------------------------
// Variants
// ---------------------------------------------------
p {
  &.label {
    font-size: $font-size-label;
    font-weight: $font-weight-label;
  }

  &.decoration {
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 2rem;
      height: 0.09rem;
      border-radius: 2px;
      background-color: token.$color-accent;
      top: clamp(1.2rem, 0.682vw + 1.064rem, 1.5rem);
    }
  }
}

a { 
  &.text-link {
    font-family: $font-family-display;
    font-size: clamp(1.75rem, 1.705vw + 1.409rem, 2.5rem);
  }
}

// ---------------------------------------------------
// Display (H1)
// ---------------------------------------------------
h1 {
  font-family:    $font-family-display;
  font-size:      $font-size-display;
  font-weight:    $font-weight-display;
  line-height:    $line-height-display;
  letter-spacing: $letter-spacing-display;
  text-transform: uppercase;
}

// ---------------------------------------------------
// Headings
// ---------------------------------------------------
h2, h3, h4, h5, h6 {
  font-weight:    $font-weight-heading;
  line-height:    $line-height-heading;
  letter-spacing: $letter-spc-heading;
  color:          $color-heading;

  .accent { color: $color-heading-accent; }
}

h2 {
  position: relative;
  font-size: $font-size-h2;
  
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 0.09rem;
    border-radius: 2px;
    background-color: token.$color-accent;
    top: 4em;
    @include mix.respond(xs) { top: 2.8em; }
  }
}
