// ===================================================
// AXIS — TYPOGRAPHY (Primitive Tokens)
// Purpose: Define typographic scale and rhythm
// ===================================================

// ---------------------------------------------------
// Font Size Scale
// Modular Proportion: Major Third (1.25) + Traditional UI
// ---------------------------------------------------
$font-10: 0.64rem;    // ~10.24px
$font-12: 0.75rem;    // 12px     
$font-13: 0.8rem;     // ~12.8px  
$font-14: 0.875rem;   // 14px     
$font-15: 0.938rem;   // ~15px    
$font-16: 1rem;       // 16px     
$font-18: 1.125rem;   // 18px     
$font-20: 1.25rem;    // 20px     
$font-24: 1.5rem;     // 24px     
$font-25: 1.5625rem;  // 25px    
$font-31: 1.953rem;   // ~31.25px
$font-32: 2rem;       // 32px     
$font-39: 2.441rem;   // ~39.06px
$font-40: 2.5rem;     // 40px     
$font-48: 3rem;       // 48px     
$font-49: 3.051rem;   // ~48.83px
$font-61: 3.815rem;   // ~61.04px
$font-64: 4rem;       // 64px     

$font-fml: "Inter", Ubuntu, system-ui, -apple-system, sans-serif;
$font-alt: "Anton", Ubuntu, system-ui, -apple-system, sans-serif;

$font-base:        clamp(0.90625rem, 0.213vw + 0.864rem, 1rem);   // 14.5px - 16px 
$font-label:       clamp(0.625rem, 0.568vw + 0.511rem, 0.875rem); // 10px - 14px
$font-link:        clamp(2rem, 1.136vw + 1.773rem, 2.5rem);       // 32px - 40px

$font-display:     clamp(5.625rem, 7.67vw + 4.091rem, 9rem);      // 90px - 144px
$font-display-alt: clamp(3.64rem, 5.08vw + 2.624rem, 5.875rem);   // 58.24px - 94px
$font-h2:          clamp(0.75rem, 0.893vw + 0.571rem, 1rem);      // 12px - 16px
$font-h3:          $font-15;                                      // 15px


// ---------------------------------------------------
// Font Weight Scale
// ---------------------------------------------------
$weight-300: 300;  // Light
$weight-400: 400;  // Regular
$weight-500: 500;  // Medium
$weight-600: 600;  // Semi bold
$weight-700: 700;  // Bold

// ---------------------------------------------------
// Line Height Scale
// ---------------------------------------------------
$lh-display: .85;
$lh-none: 1;
$lh-heading: 1.2;
$lh-body: 1.7;
$lh-small: 1.5;

// ---------------------------------------------------
// Letter Spacing Scale
// ---------------------------------------------------
$ls-display: -.04em;
$ls-heading: -.02em;
$ls-body: 0;
$ls-copy: 0.05em;
$ls-beco: 0.08em;
$ls-label: .22em;

// ---------------------------------------------------
// Semantic Tokens in base/_typography.scss
// ---------------------------------------------------  