@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as fn;

// ===================================================
// AXIS — CARD (Structural Component)
// Neutral container, layout-driven
// ===================================================

// ---------------------------------------------------
// Semantic Card Token
// ---------------------------------------------------
$border-card:         1px solid token.$color-border;
$border-rd-card:      token.$radius-xs;
$bg-card:             token.$color-bg-primary;

$transition-card:     token.$duration-200 token.$ease-standard;
$transition-card-alt: token.$duration-400 token.$ease-standard;



$gap-content-card: token.$space-ui-10;
$pad-content-card: token.$space-24 token.$space-16 token.$space-ui-28;

// ---------------------------------------------------
// Card Default
// ---------------------------------------------------
.card { position:relative;
  @include mix.flex($direction: column);
  z-index: fn.z(base);
  width: 100%;

  border: $border-card;
  border-radius: $border-rd-card;
  background-color: $bg-card;

  overflow: hidden;
  transition: transform $transition-card;

  img {
    position: relative;
    z-index: fn.z(content);

    border-bottom: $border-card;
    
    transition: transform $transition-card-alt;    
  }

  svg {
    position: absolute;
    z-index: fn.z(overlay);
    bottom: token.$space-ui-10;
    right: token.$space-ui-10;
    transition: transform $transition-card-alt, color $transition-card-alt;

      
    }
    
  // ---------------------------------------------------
  // Interactive State
  // ---------------------------------------------------
  &.is-interactive { 
    cursor: pointer;
    
    &:hover, &:focus-visible {
      // transform: translateY(-2px);
      
      img { transform: scale(1.045); }
      
      svg {
      color: token.$color-accent; // O vermelho do hover
      transform: scale(1.2);
    }
    }
    

    &:active { transform: translateY(2px); }
  }

  // ---------------------------------------------------
  // Internal Structure
  // ---------------------------------------------------
  &__content {
    @include mix.flex($direction: column, $gap: $gap-content-card);
    padding: $pad-content-card;

    // ---------------------------------------------------
    // Content Alignment Modifiers
    // ---------------------------------------------------
    &.is-center { align-items: center; justify-content: center; text-align: center; }
    &.is-start  { align-items: flex-start; text-align: start; }
    &.is-end    { align-items: flex-end; text-align: end; }
  }
}